.container {
  width: 100%;
}

.container :hover {
  cursor: pointer;
  background-color: #f8bbd0;
}

mat-card {
  width: 250px;
  height: 380px;
}

.card-text {
  padding-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
