<div class="container">
  <div class="select">
    <form>
      <mat-form-field class="form">
        <mat-label class="mat-label">Seleziona corso</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          name="course"
          (selectionChange)="onClassSelected($event.value)"
        >
          <mat-option *ngFor="let course of courseList" [value]="course.id">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="calendar">
    <app-calendar
      [dateRef]="dateRef"
      todayLabel="Oggi"
      lang="it"
      (dayClicked)="onDayClicked($event)"
    ></app-calendar>
  </div>
</div>

<div class="fullcalendar">
  <mat-card class="card">
    <full-calendar #calendar [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <br />
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </mat-card>
</div>
